<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Handy Tools</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="/static/js/vue-clipboard.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.united.css">
    <style>
        #loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        #loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
        }
    </style>

</head>


<body>

<div id="loading">
    <img id="loading-image" src="static/images/loading.gif" alt="Loading..."/>
</div>

<script src="/static/js/wasm_exec.js"></script>
<script>
    if (!WebAssembly.instantiateStreaming) { // polyfill
        WebAssembly.instantiateStreaming = async (resp, importObject) => {
            const source = await (await resp).arrayBuffer();
            return await WebAssembly.instantiate(source, importObject);
        };
    }

    const go = new Go();
    let mod, inst;
    WebAssembly.instantiateStreaming(fetch('wasm/index.wasm'), go.importObject).then(async (result) => {
        mod = result.module;
        inst = result.instance;

        let buttons = document.getElementsByTagName("button");
        let i;
        for (i = 0; i < buttons.length; i++) {
            buttons[i].disabled = false
        }

        document.getElementById('loading').remove()

        await go.run(inst);
        inst = await WebAssembly.instantiate(mod, go.importObject);
    });
</script>

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" id="title">Handy Tools</a>
    </div>
</nav>

<div class="container">
    <br>
    <br>
    <br>
    <br>

    <div class="well">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_hash_calculation" data-toggle="tab" aria-expanded="true">Hash
                    Calculation</a></li>
            <li><a href="#tab_url_encode_decode" data-toggle="tab" aria-expanded="false">URL Encode/Decode</a></li>
            <li><a href="#tab_base64_encode_decode" data-toggle="tab" aria-expanded="false">Base64 Encode/Decode</a>
            </li>
            <li><a href="#tab_generate_password" data-toggle="tab" aria-expanded="false">Generate Password</a></li>
            <li><a href="#tab_unixtime" data-toggle="tab" aria-expanded="false">Unix Time Converter</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade active in" id="tab_hash_calculation">
                <div id="hash-calculation">
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Text</label>
                        <div class="col-sm-10">
                            <input class="input-sm" v-model="plain_value_to_apply">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Algorithm</label>
                        <div class="col-sm-10">
                            <select v-model="algorithm_to_apply">
                                <option disabled value="">Please select one algo</option>
                                <option>md5</option>
                                <option>sha1</option>
                                <option>sha256</option>
                                <option>sha512</option>
                            </select>
                        </div>
                    </div>


                    <button v-on:click="calculateHash" class="btn btn-primary" disabled>Calculate</button>
                    <button v-on:click="clear" class="btn btn-primary" disabled>Clear</button>

                    <hr>

                    <p><b>Plain Value:</b> {{ quotation_placeholder }}<span
                                style="color:darkorange;word-wrap:break-word">{{ plain_value_for_hashed_value }}</span>{{ quotation_placeholder }}
                    </p>
                    <p><b>Algorithm:</b> <span style="color:darkorange">{{ algo_for_hashed_value }}</span></p>
                    <p>
                        <b>Hashed Value:</b> <span :style="message_color"
                                                   style="word-wrap: break-word">{{ hashed_value }}</span>
                        <span v-if="seen">
                            <button type="button"
                                    v-clipboard:copy="hashed_value"
                                    v-clipboard:success="copied"
                                    class="btn btn-success btn-sm">Copy Result</button>
                        </span>
                    </p>

                </div>
            </div>

            <div class="tab-pane fade" id="tab_url_encode_decode">
                <div id="url-encode-decode">
                    <br>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <textarea class="form-control" v-model="value_to_encode_or_decode" rows="3"></textarea>
                        </div>
                    </div>


                    <button v-on:click="urlEncode" class="btn btn-primary" disabled>Encode</button>
                    <button v-on:click="urlDecode" class="btn btn-primary" disabled>Decode</button>
                    <button v-on:click="clear" class="btn btn-primary" disabled>Clear</button>

                    <hr>

                    <p>
                        <b>{{ result_type_flag }}Result:</b> <span :style="message_color"
                                                                   style="word-wrap: break-word">{{ result }}</span>
                        <span v-if="seen">
                            <button type="button"
                                    v-clipboard:copy="result"
                                    v-clipboard:success="copied"
                                    class="btn btn-success btn-sm">Copy Result</button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="tab-pane fade" id="tab_base64_encode_decode">
                <div id="base64-encode-decode">
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <textarea class="form-control" v-model="value_to_encode_or_decode" rows="3"></textarea>
                        </div>
                    </div>


                    <button v-on:click="base64Encode" class="btn btn-primary" disabled>Encode</button>
                    <button v-on:click="base64Decode" class="btn btn-primary" disabled>Decode</button>
                    <button v-on:click="clear" class="btn btn-primary" disabled>Clear</button>

                    <hr>

                    <p>
                        <b>{{ result_type_flag }}Result:</b> <span :style="message_color"
                                                                   style="word-wrap: break-word">{{ result }}</span>
                        <span v-if="seen">
                            <button type="button"
                                    v-clipboard:copy="result"
                                    v-clipboard:success="copied"
                                    class="btn btn-success btn-sm">Copy Result</button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="tab-pane fade" id="tab_generate_password">
                <div id="random-password">

                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"># of Numbers</label>
                        <div class="col-sm-1">
                            <input v-model="numberlength" type="number" min="0" max="50" value="3">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"># of Symbols</label>
                        <div class="col-sm-1">
                            <input v-model="symbollength" type="number" min="0" max="50" value="2">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"># of Lower-case Letters</label>
                        <div class="col-sm-1">
                            <input v-model="lowerletterlength" type="number" min="0" max="50" value="5">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"># of Upper-case Letter</label>
                        <div class="col-sm-1">
                            <input v-model="upperletterlength" type="number" min="0" max="50" value="5">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Compulsory Elements</label>
                        <div class="col-sm-10">
                            <input v-model="mustelements">
                        </div>
                    </div>

                    <button v-on:click="showRandomPassword" class="btn btn-primary" disabled>Generate Password</button>
                    <button v-on:click="clear" class="btn btn-primary" disabled>Clear</button>

                    <hr>

                    <p>
                        <b>Result:</b> <span :style="message_color" style="word-wrap: break-word">{{ message }}</span>
                        <span v-if="seen">
                            <button type="button"
                                    v-clipboard:copy="message"
                                    v-clipboard:success="copied"
                                    class="btn btn-success btn-sm">Copy Result</button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="tab-pane fade" id="tab_unixtime">
                <div id="unixtime">

                    <br>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">Unix Time</label>
                        <div class="col-sm-10">
                            <input v-model="unixtime">
                        </div>
                    </div>

                    <button v-on:click="convertToTime" class="btn btn-primary" disabled>Convert</button>
                    <button v-on:click="clear" class="btn btn-primary" disabled>Clear</button>

                    <hr>

                    <p><b>Current Time:</b> <span style="color:darkorange">{{ currentunixtime }}</span></p>
                    <p><b>Unix Time:</b> <span style="color:darkorange">{{ unixtimeprocessed }}</span></p>
                    <p>
                        <b>Time:</b> <span :style="result_color" style="word-wrap: break-word">{{ result }}</span>
                        <span v-if="seen">
                            <button type="button"
                                    v-clipboard:copy="result"
                                    v-clipboard:success="copied"
                                    class="btn btn-success btn-sm">Copy Result</button>
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <p>
        <small>
            <b>
                <span style="color:green">
                    WebAssembly helps execute everything in your browser,
                    so don't worry about what you enter or get here being leaked.
                </span>
            </b>
        </small>
    </p>

    <p>
        <small>
            Developed by <a href="http://xd-deng.com" target="_blank">XD-DENG</a>
            using <a href="https://golang.org/" target="_blank">Golang</a>
            +
            <a href="https://webassembly.org/" target="_blank">WebAssembly</a>
            +
            <a href="https://vuejs.org/" target="_blank">Vue.js</a>
            (<a href="/static/html/more.txt" target="_blank">more</a>)
        </small>
    </p>
    <p>
        <small>
            <a href="https://github.com/XD-DENG/handytools-go-webassembly">Source Code on GitHub</a>
        </small>
    </p>

</div>

<script src="/static/js/handytools.js"></script>

</body>
</html>
